<p> {{blog.Title}} </p>
<p> Destination:  {{blog.Destination}}</p>
<p> Description: {{blog.Description}}</p>
 

 </div>
  <div class="col-md-10">

    <ul class="blogs">
      <li class="thumbnail">  
        <a href="#/blogs/{{blog.id}}" class="thumb"><img src="http://th04.deviantart.net/fs70/PRE/f/2012/324/3/2/flag_of_japan_by_ozelotstudios-d5llymh.jpg"></a>
        <a href="#/globs/{{blog.id}}">{{blog.Title}}</a>
        <p>Destination: {{blog.Destination}}</p>
        <p>{{blog.Description}}</p>
      </li>
      </li>
    </ul>
  </div>
