<p> {{blog.Title}} </p>
<p> Destination:  {{blog.Destination}}</p>
<p> Description: {{blog.Description}}</p>

 <div class="col-md-10">

    <ul class="blogs">
      <li ng-repeat="post in posts" class="thumbnail">  
        <a href="#/blogs/{{blog.idBlog}}/posts/{{post.idPost}}" class="thumb"><img src="http://th04.deviantart.net/fs70/PRE/f/2012/324/3/2/flag_of_japan_by_ozelotstudios-d5llymh.jpg"></a>
        <a href="#/blogs/{{blog.idBlog}}/posts/{{post.idPost}}">{{post.Title}}</a>
        <p> Place: {{post.Place}}</p>
        <p> Time: {{post.DateTime}}</p>
        <p>{{post.Description}}</p>
      </li>
      </li>
    </ul>
  </div>