<div class="container">
  <h2>My new blog {{newBlog.title}}</h2>
  <form role="form">
    <div class="form-group">
      <label for="Title">Title:</label>
      <input type="Title" class="form-control" id="title" ng-model="newBlog.title">
       <label for="Destination">Destination:</label>
      <input type="Description" class="form-control" id="description" ng-model="newBlog.destination">
       <label for="Description">Short description:</label>
      <textarea class="form-control" rows="5" id="Description" ng-model="newBlog.description"></textarea>
    	</div>
	    
	    <button type="submit" class="width-35 pull-right btn btn-sm btn-default" ng-click="doCreate(newBlog)" data-ng-disabled="loginForm.$invalid">
			<i class="ace-icon fa fa-key"></i>
			Login
	    </button>
    </div>
  </form>
</div>